<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/student1.css" rel="stylesheet">
</head>
<body>
    <form action="/join" method="POST">
        <div class="card">
            <input id="room" name="room" placeholder="Enter your Room ID">
            <button>Sumbit</button>
        </div>
    </form>
    <script src="/static/student.js"></script>
</body>
</html>