<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/static/student.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
    <div class="upperpart">
        <img src="https://images.mentimeter.com/themes/832111/tyett7pf-brand-light.svg?auto=compress%2Cformat&amp;w=400&amp;expires=1711411199&amp;s=e58a1b6d40647ecf99e4a7abd21498a4" alt="Logotype" class="m-cq m-ai m-l m-cr r-img">
    </div>
    <div class="downpart">
        <h1 id="ct1">Here is your Question</h1>    
        <div class="options">
            <div class="option" id="option_1">
                <h3 id="ct2">Ans</h3>
            </div>
            <div class="option" id="option_2">
                <h3 id="ct3">Ans</h3>
            </div>
            <div class="option" id ="option_3">
                <h3 id="ct4">Ans</h3>
            </div>
        </div>
        
    </div>
    <button id="sub">Sumbit</button>
    <script src="/static/student.js"></script> 
</body>
</html>